    <!-- Default set of monitored resources. If one of these changes, the    -->
    <!-- web application will be reloaded.                                   -->
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>WEB-INF/tomcat-web.xml</WatchedResource>
    <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

    <!-- Uncomment this to disable session persistence across Tomcat restarts -->
    <!--
    <Manager pathname="" />
    -->
    <Resource name="jdbc/poolBaseDatos" auth="Container" type="javax.sql.DataSource"
        maxTotal="100" maxIdle="30" maxWaitMillis="10000"
        username="raul" password="raul"
        driverClassName="com.mysql.cj.jdbc.Driver"
        url="jdbc:mysql://localhost:3306/proyecto"/>

<Environment name="jndi/CDN" value="http://127.0.0.1/CDN" type="java.lang.String" override="false"/>
<!--
        <Environment name="jndi/FTP" value="" type="java.lang.String" override="false"/>
-->
        <Environment name="jndi/FTP" value="" type="java.lang.String" override="false"/>
</Context>
